.project-list{
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px;
    justify-items: center;
    padding: 50px 0 100px 0;
}

@media (width <= 800px){
    .project-list{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}