@use "../../scss/base.scss" as base;

.sidebar{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.menu-icon{
    width: 30px;
    height: 30px;
    z-index: 3;
}

.sidebar-nav-div{
    padding: 10px 25px 10px 25px;
    position: fixed;
    background-color: base.$gray2;
    border-radius: 5px;
    left: 30px;
    z-index: 2;
    
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.sidebar-nav-div.active {
    opacity: 1;
    transform: translateX(0);
  }