@use "../../scss/base.scss" as base;

.header{
    min-width: 98vw;
    padding: 20px 0 20px 0;
    position: fixed;
    background-color: base.$eire-black;
    display: grid;
    grid-template-rows: auto;
}

.header-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px 10px 50px;
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

@media (width <= 800px){
    .header-div{
        margin: 10px 25px 10px 25px;
    }
}