@use "../../../scss/base.scss" as base;

.profile-card{
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.name{
    color: base.$yellow-green;
}

.job{
    color: base.$gray;
    max-width: 700px;
}

.email{
    color: base.$gray;
}

.image-div{
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px solid base.$yellow-green;
    border-radius: 50%;
}

.image{
    height: 500px;
}