@use "../../../scss/base.scss" as base;

.profile-card{
    min-width: 98vw;
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.name{
    color: base.$yellow-green;
    text-align: center;
}

.job{
    color: base.$gray;
    max-width: 700px;
}

.email{
    color: base.$gray;
}

.image-div{
    width: 27vw;
    height: 27vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px solid base.$yellow-green;
    border-radius: 50%;
}

.image{
    height: 33vw;
}

@media (width <= 1100px){
    .profile-card{
        width: 100vw;
        flex-direction: column-reverse;
    }
    .name{
        font-size: base.$font-size-h2;
    }
    .job{
        margin: 0 50px 0 50px;
    }
}