@use "../../scss/base.scss" as base;

.nav-bar-div{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.nav-bar-ul p{
    color: base.$ghost-white;
}

.section-link{
    text-decoration: none;
}

.section-link p:hover{
    color: base.$argentinian-blue;
}

.section-link.active p {
    color: base.$argentinian-blue;
    font-weight: bold;
}