@use "./variables/color" as color;
@use "./variables/layout" as layout;
@use "./variables/typography" as typography;

@forward "./variables/color";
@forward "./variables/layout";
@forward "./variables/typography";

* {
    box-sizing: border-box;
    font-family: typography.$font-family;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    cursor: url("./img/cursor.png"), auto;
}

p, h1, h2, h3, h4{
    color: color.$ghost-white;
}

hr {
    color: color.$ghost-white;
}