@import "./variables/color.scss";
@import "./variables/layout.scss";
@import "./variables/typography.scss";

*{
    box-sizing: border-box;
    font-family: $font-family;
    font-optical-sizing: auto;
}

body{
    margin: 0;
}